<div class="row" id="heading">
      <div class="small-12 large-12 columns">
        Recipe:
        <%= @recipe.recipe_name %>
        Target volume:
        <%= @recipe.target_volume %> g
      </div>        
    </div>

    <div class="row">
			<div class="panel">
 	 			<%= render "form" %>
			</div>
		</div>

 

  <div class="row" id="ingredients_panel">
    <div class="small-6 large-6 columns">
      <div>
        <div id="recipe_panel_headings">
          Yeast: 
        </div>
          <div class="panel">      
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "yeast" %>
              <div class="panel">
                <%= ingredient.amount  %>  pkg. 
                <%= link_to ingredient.component.name, component_path(ingredient.component) %>
                <% if @recipe.owner?(current_user) %>
                  <div id="edit-delete-links">
                    (<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %> | <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <div id="recipe_panel_headings">
          Fermentable: 
        </div>
          <div class="panel">
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "fermentable" %>
              <div  class="panel">
                <%= ingredient.amount  %>  lbs. 
                <%= link_to ingredient.component.name, component_path(ingredient.component) %>
                <% if @recipe.owner?(current_user) %>
                  <div id="edit-delete-links">
                    (<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %> | <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <div id="recipe_panel_headings">
          Hops: 
        </div>
          <div class="panel">
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "hops" %>
              <div  class="panel">
                <%= ingredient.amount  %>  oz. 
                <%= link_to ingredient.component.name, component_path(ingredient.component) %>
                <%= ingredient.component.aa %> %AA
                <%= ingredient.boil_time %>.min boil 
                <% if @recipe.owner?(current_user) %>
                  <div id="edit-delete-links">
                    (<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %> | <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)
                  </div>
                <% end %>
              </div>  
            <% end %>
          <% end %>
        </div>
      </div>
     </div>
     	<div class="row" id="add_ingredient_panel">
  		<div class="small-6 large-6 columns">
        <div id="recipe_panel_headings">
          Add Ingredients:
        </div>
    		<div class="panel">  
      		<% if @recipe.owner?(current_user) %>
        		<%= render "/ingredients/form" %>
      		<% end %>
    		</div>
  		</div>
		</div>
	</div>



    
  <div class="row">
    <div class="small-6 large-6 columns" id="metrics_panel">
      <div id="recipe_panel_headings">
        Projected Metrics: 
      </div>

      <div class="panel">

        <div>
          Mash water to grain:
          <%= @recipe.mash_thickness %>q/.lb
        </div>

        <div>
          Efficiency:
          <%= @recipe.efficiency %>
        </div>

        <div>
          Grain temp:
          <%= @recipe.grain_temp %>
         </div>

        <div>
          Preboil gravity: 
          <%= @recipe.preboil_gravity %>
        </div>

        <div>
          Projected original gravity: 
          <%= @recipe.target_og %>
        </div>

        <div>
          Projected final gravity:
          <%= @recipe.projected_final_gravity %>
        </div>

        <div>
          Strike water: 
          <%= @recipe.strike_water %>
        </div>

        <div>
          Sparge water: 
          <%= @recipe.sparge_water %>
        </div>

        <div>
          Total water:
          <%= @recipe.total_water %>
        </div>

         <div>
          IBUs:
          <%= @recipe.ibu %>
          <% if @recipe.ibu > 110 %>
            Actual IBU contained in finished beer is gernerally understood as limited to around 100 (or below) IBU. Numbers higher than 100 will effect taste in ways other than bitterness.
          <% end %>
        </div>

        <div>
          <% if @recipe.mash_temp %>
            Mash temp:
            <%= @recipe.mash_temp %>
          <% end %>
        </div>

        <div>
          <% if @recipe.mash_temp %>  
            Strike water temp:
            <%= @recipe.strike_water_temp %>
          <% end %>
        </div>
      </div>
    </div>

    	<div class="small-6 large-6 columns">
    		<div id="recipe_panel_headings">
        	Notes: 
      	</div>
    		<div class="panel">
        	<div>
						<%= render "/process_steps/form" %>
					</div>

        <% @recipe.process_steps.each do |process_step| %>
            <div class="panel">
              <li>
                <%= process_step.step.step_name %>
                <%= process_step.step_notes %>
                <div id="edit-delete-links">
                 (<%= link_to "edit note", edit_recipe_process_step_path(process_step.recipe, process_step) %> | <%= link_to "delete note", recipe_process_step_path(process_step.recipe, process_step), data: { confirm: 'Are you sure?' }, method: :delete %>)
                </div>
              </li>
            </div>
          <% end %>

      </div>
  	</div>
  </div>





  <div class="row">
	  <div class="small- large-6 columns">
      <div class="panel">
      <div>
	      <%= link_to "Recipe", recipe_path(@recipe) %>
	    </div>
    </div>
  </div>

	  <div class="small-6 large-6 columns">
      <div class="panel">
	      <% if @recipe.owner?(current_user) %>
	        <%= link_to "Delete Recipe", recipe_path(@recipe), data: { confirm: 'Are you sure?' }, method: :delete %>
	      <% end %>
	    </div>
	  </div>
  </div>
