
		<div>
      <h2>
        Recipe:
        <%= @recipe.recipe_name %>
        Target volume:
        <%= @recipe.target_volume %> g
      </h2>
    </div>

    <div>
    	<% @recipe.ingredients.each do |ingredient| %>
    		<ul>
    			<li><%= ingredient.amount  %>  lbs.
            <%= ingredient.component.name %>  <%= link_to "-", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %></li>
    		</ul>
    	<% end %>

  	</div>
      Strike water: 
      <%= @recipe.strike_water %>
    </div>

    </div>
      Sparge water: 
      <%= @recipe.sparge_water %>
    </div>

    </div>
      Preboil gravity: 
      <%= @recipe.preboil_gravity %>
    </div>

    </div>
      Target original gravity: 
      <%= @recipe.target_og %>
    </div>



    <% if @recipe.owner?(current_user) %>
    <div>
      <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
    </div>
    <% end %>

<% if @recipe.owner?(current_user) %>
  <%= render "/ingredients/form" %>
<% end %>
