    <div class="row" id="recipe_title">
        Recipe:
        <%= @recipe.recipe_name %>
        Target volume:
        <%= @recipe.target_volume %> g        
    </div>

  <div class="row" id="recipe_links"> 
    <div class="small-2 large-4 columns">
      <%= link_to "Ingredients list", components_path %>
    </div>

    <div class="small-2 large-4 columns">
      <% if @recipe.owner?(current_user) %>
      <%= link_to "Edit Recipe", edit_recipe_path %>
      <% end %>
    </div>
    
    <div class="small-2 large-4 columns">
      <% if @recipe.owner?(current_user) %>
      <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
      <% end %>
    </div>
  </div>


  <div class="row" id="recipe_ingredients">
    <div class="small-3 large-5 columns">
      <% @recipe.ingredients.each do |ingredient| %>
        <ul>
          <% if ingredient.component.version.include? "yeast" %>
          <div><li><%= ingredient.amount  %>  pkg. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
              <% if @recipe.owner?(current_user) %>
            <div id="recipe_ingredient_links">(<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>|
              <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)</div>
              <% end %>
            </li></div>
            </ul>
          <% end %>
          <% if ingredient.component.version.include? "fermentable" %>
          <div><li><%= ingredient.amount  %>  lbs. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
              <% if @recipe.owner?(current_user) %>
            <div id="recipe_ingredient_links">(<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>|
              <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)</div>
              <% end %>
            </li></div>
            </ul>
          <% end %>
          <% if ingredient.component.version.include? "hops" %>
          <div><li><%= ingredient.amount  %>  oz. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
              <%= ingredient.component.aa %> %AA 
              <% if @recipe.owner?(current_user) %>
            <div id="recipe_ingredient_links">(<%= link_to "edit ingredient", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>|
              <%= link_to "remove ingredient", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>)</div>
              <% end %>
            </li></div>
            </ul>
          <% end %>
        <% end %>
      </div>



  <div class="small-3 large-5 columns">
    <div>
      Preboil gravity: 
      <%= @recipe.preboil_gravity %>
    </div>

    <div>
      projected original gravity: 
      <%= @recipe.target_og %>
    </div>

    <div>
      projected final gravity:
      <%= @recipe.projected_final_gravity %>
    </div>

    <div>
      Strike water: 
      <%= @recipe.strike_water %>
    </div>

    <div>
      Sparge water: 
      <%= @recipe.sparge_water %>
    </div>

    <div>
      Total water:
      <%= @recipe.total_water %>
    </div>

     <div>
      IBUs:
      <%= @recipe.ibu %>
      <% if @recipe.ibu > 110 %>
        Actual IBU contained in finished beer is gernerally understood as limited to around 100 (or below) IBU, however, numbers higher than that will probably effect taste in ways other than bitterness.
      <% end %>
    </div>

    <div>
      <% if @recipe.mash_temp %>
        Mash temp:
        <%= @recipe.mash_temp %>
        Strike water temp:
        <%= @recipe.strike_water_temp %>
      <% end %>
    </div>
  </div>
</div>



  <div>
    <% if @recipe.owner?(current_user) %>
      <%= render "/ingredients/form" %>
    <% end %>
  </div>

