
		<div>
      <h2>
        Recipe:
        <%= @recipe.recipe_name %>
        Target volume:
        <%= @recipe.target_volume %> g

      </h2>
        
    </div>

    <div>
      <div>
        <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <% if ingredient.component.version == "yeast" %>
            <li><%= ingredient.amount  %>  vials/smack pack(s) 
                <%= link_to ingredient.component.name, component_path(ingredient.component) %>
                <% if @recipe.owner?(current_user) %>
                  <%= link_to "edit", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>
                  <%= link_to "-", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>
                <% end %>
            </li>
          </ul>
          <% end %>
        <% end %>
      </div>
      <div>
    	<% @recipe.ingredients.each do |ingredient| %>
    		<ul>
          <% if ingredient.component.version.include? "fermentable" %>
    			<li><%= ingredient.amount  %>  lbs. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
              <% if @recipe.owner?(current_user) %>
                <%= link_to "edit", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>
                <%= link_to "-", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>
              <% end %>
          </li>
    		</ul>
        <% end %>
    	<% end %>
  	</div>

    <div>
      <% @recipe.ingredients.each do |ingredient| %>
        <ul>
          <% if ingredient.component.version.include? "hops" %>
          <li><%= ingredient.amount  %>  OZs.
              <%= ingredient.component.aa %> %AA  
              <%= link_to ingredient.component.name, component_path(ingredient.component) %> 
               <% if @recipe.owner?(current_user) %>
                  <%= link_to "edit", edit_recipe_ingredient_path(ingredient.recipe, ingredient) %>
                  <%= link_to "-", recipe_ingredient_path(ingredient.recipe, ingredient), method: :delete %>
               <% end %>
          </li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>

    <div>
      Strike water: 
      <%= @recipe.strike_water %>
    </div>

    <div>
      Sparge water: 
      <%= @recipe.sparge_water %>
    </div>

    <div>
      Total water: 
      <%= @recipe.total_water %>
    </div>

    <div>
      Preboil gravity: 
      <%= @recipe.preboil_gravity %>
    </div>

    <div>
      projected original gravity: 
      <%= @recipe.target_og %>
    </div>

    <div>
      projected final gravity:
      <%= @recipe.projected_final_gravity %>
    </div>

    <div>
      IBUs:
      <%= @recipe.ibu %>
      <% if @recipe.ibu > 110 %>
        Actual IBU contained in finished beer is gernerally understood as limited to around 100 (or below) IBU, however, numbers higher than that will probably effect taste in ways other than bitterness.
      <% end %>
    </div>

    <div>
      <% if @recipe.mash_temp %>
        Mash temp:
        <%= @recipe.mash_temp %>
        Strike water temp:
        <%= @recipe.strike_water_temp %>
      <% end %>
    </div>

    <div>
      <% if @recipe.owner?(current_user) %>
      <%= link_to "Edit Recipe", edit_recipe_path %>
      <% end %>
    </div>
    
    <div>
      <% if @recipe.owner?(current_user) %>
      <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
      <% end %>
    </div>

      <div>
      <%= link_to "Learn more about Ingredients", components_path %>
    </div>
    


<% if @recipe.owner?(current_user) %>
  <%= render "/ingredients/form" %>
<% end %>


