    <div class="row" id="heading">
      <div class="small-12 large-12 columns">
        Recipe:
        <%= @recipe.recipe_name %>
        Target volume:
        <%= @recipe.target_volume %> g
      </div>        
    </div>

 

  <div class="row">
    <div class="small-6 large-6 columns">
      <div class="panel">
        <div id="recipe_show_headings">
          Yeast: 
        </div>  
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "yeast" %>
              <%= ingredient.amount  %>  pkg. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
            <% end %>
          <% end %>

        <div id="recipe_show_headings">
          Fermentable: 
        </div>
        <div>
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "fermentable" %>
                <%= ingredient.amount  %>  lbs. 
                <%= link_to ingredient.component.name, component_path(ingredient.component) %>
            <% end %>
          <% end %>
        </div>

        <div id="recipe_show_headings">
          Hops: 
        </div>
          <% @recipe.ingredients.each do |ingredient| %>
            <% if ingredient.component.version.include? "hops" %>
              <%= ingredient.amount  %>  oz. 
              <%= link_to ingredient.component.name, component_path(ingredient.component) %>
              <%= ingredient.component.aa %> %AA
              <%= ingredient.boil_time %>.min boil  
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
  <div class="row">
    <div class="small-6 large-6 columns" id="metrics_panel">
      <div id="recipe_show_headings">
        Projected Metrics: 
      </div>
      <div class="panel">

        <div>
          Mash water to grain:
          <%= @recipe.mash_thickness %>q/.lb
        </div>

        <div>
          Efficiency:
          <%= @recipe.efficiency %>
        </div>

        <div>
          Grain temp:
          <%= @recipe.grain_temp %>

        <div>
          Preboil gravity: 
          <%= @recipe.preboil_gravity %>
        </div>

        <div>
          Projected original gravity: 
          <%= @recipe.target_og %>
        </div>

        <div>
          Projected final gravity:
          <%= @recipe.projected_final_gravity %>
        </div>

        <div>
          Strike water: 
          <%= @recipe.strike_water %>
        </div>

        <div>
          Sparge water: 
          <%= @recipe.sparge_water %>
        </div>

        <div>
          Total water:
          <%= @recipe.total_water %>
        </div>

         <div>
          IBUs:
          <%= @recipe.ibu %>
          <% if @recipe.ibu > 110 %>
            Actual IBU contained in finished beer is gernerally understood as limited to around 100 (or below) IBU. Numbers higher than 100 will effect taste in ways other than bitterness.
          <% end %>
        </div>

        <div>
          <% if @recipe.mash_temp %>
            Mash temp:
            <%= @recipe.mash_temp %>
          <% end %>
        </div>

        <div>
          <% if @recipe.mash_temp %>  
            Strike water temp:
            <%= @recipe.strike_water_temp %>
          <% end %>
        </div>
      </div>

      <div id="recipe_show_headings">
        Brewing notes:
      </div>
      <div class="panel">
        <div>
          <% if @recipe.owner?(current_user) %>
            <%= render "/process_steps/form" %>
          <% end %> 
        </div>  

      <div>
        <% @recipe.process_steps.each do |process_step| %>
              <li>
                <%= process_step.step.step_name %>
                <%= process_step.step_notes %>
              </li>
          <% end %>
      </div>
    </div>
  </div>


    </div>
</div>


  <div class="row">
    <div class="small-6 large-6 columns small-centered larger-centered">
      <% if @recipe.owner?(current_user) %>
      <%= link_to "Edit Recipe", edit_recipe_path %>
      <% end %>
    </div>
  </div>



  
