<div><%= form_for [@recipe, @ingredient] do |f| %>

    <div class="field">
      <%= f.label :component_id %><br />
      <%= f.select :component_id, options_for_select(Component.all.map{|s|[s.name, s.id]}) %>
    </div>

    <div class="field">
      <
    	<%= f.label :amount %>
    	<%= f.number_field :amount, class: "text_field", step: 0.01 %>
    </div>

    <div class="field">
    	<%= f.hidden_field :recipe_id, value: @recipe.id %>
    </div>

  <div class="actions">
    <%= f.submit class: "small radius button" %>
  </div>
  <% end %>
</div>