


<div class="row">
	<div class="small-4 large-4 column">
		<div>
			<%= form_for [@recipe, @ingredient] do |f| %>
			<%= f.collection_select(:component_id, Component.all, :id, :name) %>
		</div>

		<div>
	  	<%= f.label :amount %>
	  	<%= f.number_field :amount, class: "text_field", step: 0.01 %>
  	</div>
  	
  	<div class="actions">
      <%= f.submit "Add grain", class: "small radius button" %>
    </div>

  	<% end %>
    </div>
</div>