<div class="row">
<%= form_for [@recipe, @process_step] do |f| %>

    <div class="actions">
      <%= f.submit "Add Notes, step by step", class: "small radius button" %>
    </div>

    <div class="field">
      <%= f.select :step_id, Step.all.collect{|s|[s.step_name, s.id]} %>
    </div>

    <div>
    	<%= f.label :step_notes %>
    	<%= f.text_field :step_notes %>
    </div>

    <div class="field">
    	<%= f.hidden_field :recipe_id, value: @recipe.id %>
    </div>

  <% end %>

</div>